body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
}

.optimized-image {
    max-width: 100%;
    height: auto;
}

.course-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.course-item.completed {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.course-item:not(.completed) {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

header {
    background-color: #002b5c;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    background: black;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

footer {
    background: #002b5c;
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

#about, #events, #membership, #contact {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#about h2, #events h2, #membership h2, #contact h2 {
    color: #002b5c;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#events ul {
    list-style: none;
    padding: 0;
}

#events ul li {
    margin: 5px 0;
    font-size: 1rem;
}

.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}



@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-pic {
        margin: 10px auto;
    }

    .menu-icon {
        align-self: flex-end;
        margin-right: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    #about, #events, #membership, #contact {
        padding: 15px;
        margin: 10px auto;
        width: 90%;
    }

    #about h2, #events h2, #membership h2, #contact h2 {
        font-size: 1.5rem;
    }

    #events ul li {
        font-size: 0.9rem;
    }

    .cta-button {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }

    footer {
        font-size: 0.9rem;
    }
}