@media screen and (max-width: 480px) {
    header {
        text-align: center;
    }

    .menu-icon {
        margin-right: 0;
    }

    nav ul {
        align-items: center;
        padding: 0;
    }

    #about, #events, #membership, #contact {
        padding: 10px;
        margin: 5px auto;
        width: 95%;
    }

    #about h2, #events h2, #membership h2, #contact h2 {
        font-size: 1.2rem;
    }

    .cta-button {
        font-size: 0.8rem;
        padding: 0.3rem 0.6rem;
    }

    footer {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: black;
        text-align: center;
    }

    nav ul.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    nav ul li {
        margin: 10px 0;
    }
}